  
  <br>
  <div class="container">
        <div class="row">
            <div class="mb-3">
            <br> 
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Post Title">
            </div>
            <div class="mb-3">
                <br>
                <textarea class="form-control" style="height: 200px;" id="exampleFormControlTextarea1"
                    rows="3"></textarea>
            </div>

        </div>

        <div>
            <button class="btn btn-primary btn-lg" type="submit">POST</button>
        </div>

    </div>
