<div class="row m-3 signup-form">
  <form id="signup-form" class="col col-lg-6 col-sm-8 col-xs-12 mx-auto signup-form rounded-3  m-2 ">
    <div class="userCreateValidation d-none"></div>
    <h2 class="text-start pt-2 pb-4 border-bottom border-3 text-center" style="border-color: #283130">New Users: Create Account</h2>

    <div>
      <label for="username" class="form-label">Username</label>
      <input id="username-signup" type="username" class="form-control username-signup" />
    </div>

    <div class="col-md-12">
      <label for="inputPassword4" class="form-label">Password</label>
      <input id="password-signup" type="password" class="form-control password-signup" />

    </div>

    <div class="gy-3 py-3 my-3 text-center">
      <button type="submit" id="signup-form" class="btn submitBtn btn-lg btn-dark" style="color:white">Sign Up</button>
      <a href="/login" class="btn btn-lg  btn-primary" role="button" aria-disabled="true">Login</a>
    </div>

  </form>

</div>
<script src="/js/signUp.js"></script>